@use "sass:math";

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<МИКСИНЫ И ПЕРЕМЕННЫЕ>===============================================================================================

@import "keyframes";
@import "mixins";
@import "variables";

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
    color: $mainColor;
    background: #010101;

    &._lock {
        overflow: hidden;
    }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
#__next {
    //overflow: hidden;
    height: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden !important;
    min-height: 100%;
    display: grid;
    align-content: start;
    align-items: start;
    grid-template-rows: 1fr auto;
    gap: 10px;
    background: #010101 url("/bg.webp") top / cover no-repeat;
}
.mint {
    background: #010101 url("/Mint_bg.png") top / cover no-repeat;
}
    
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
    width: 100%;
    max-width: $maxWidthContainer + px;
    margin: 0 auto;

    @media (max-width: ($md1 + px)) {
        padding: 0 20px;
        max-width: none;
    }
    // @media (max-width: ($md3+px)) {
    // 	max-width: none;
    // }
}

._appContainer {
    width: 100%;
    @include adaptiv-value("padding-left", 60, -100, 1);
    @include adaptiv-value("padding-right", 60, -100, 1);
    @media (max-width: ($md2 + px)) {
        padding: 0 20px;
    }
}

//</ОСНОВНАЯ СЕТКА>======================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

#partnersSlider .swiper-wrapper {
    transition-timing-function: linear !important;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
