$fontFamily: "Lato";

$fontSize: 16;

$minWidth: 360px;

$maxWidth: 1440;

$maxWidthContainer: 1160;

$md1: $maxWidthContainer + 40;

$md2: 991.98;

$md3: 767.98;

$md4: 479.98;

$mainColor: #a7a7a7;
